.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  flex-grow: 1;
}

.button-row {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


td, th {
  width: 25%;
}

.btnTable {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 6px ;
}
.edit{
  background-color: #2b4ad6;
  height: 35px;
  width: 35px;
  margin: 0 5px;
}

.delete{
  background-color: #e63434;
  height: 35px;
  width: 35px;
}

.mat-icon {
  font-size: 17px;
}

.th-action {
  padding-left: 2%;
}

td.btnTable {
  width: 73%;
}
